<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../element/head'); -%>
  <!-- My CSS -->
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/footer.css">
  <link rel="stylesheet" href="/music-player.css">
  <title>Music System | <%= bot.user.username %></title>
  <link rel="icon" type="image/png" href="<%= bot.user.displayAvatarURL({size: 128}) %>">
</head>
<%- include('../element/header'); -%>

<body>
  <section>
    <side class="navbar navbar-expand-md" style="max-width: 100px;">
      <div class="container" id="side-bar-container">
        <div class="row" id="side-bar">
          <div class="col-md d-flex rounded-3 bg-dark mb-3 guild-nav mt-3">
            <div class="img" style="margin: auto;">
              <button class="btn btn-guild-icon p-0" data-bs-toggle="guild-pop" data-bs-trigger="hover focus"
                data-bs-content="<%=guild.name%>">
                <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}" style="max-width: 70px; max-height: 70px; border-radius: 50px">` : `<img src="https://media.discordapp.net/attachments/901446802711142460/931743540684415016/discord-statistics.jpg" style="max-width: 70px; max-height: 70px; border-radius: 50px">` %></button>
            </div>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasScrolling" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-toggler-icon-settings"><i class="fas fa-bars"></i></span>
          </button>
          <div id="global">
            <div class="navbar-collapse" id="sidebar-settings">
              <ul class="navbar-nav d-block">
                <li>
                  <a class="nav-link nav-link-settings text-white active" aria-current="page" href="#"
                    data-bs-toggle="nav-music-player" data-bs-trigger="hover focus" data-bs-content="Music Player">
                    <h3 class="text-center"><i class="bi bi-boombox"></i></h3>
                  </a>
                </li>
                <li>
                  <a class="nav-link nav-link-settings text-white" href="#" data-bs-toggle="nav-queue"
                    data-bs-trigger="hover focus" data-bs-content="Queue">
                    <h3 class="text-center"><i class="bi bi-music-note-list"></i></h3>
                  </a>
                </li>
                <li>
                  <a class="nav-link nav-link-settings text-white" href="/dashboard" data-bs-toggle="nav-switch-server"
                    data-bs-trigger="hover focus" data-bs-content="Switch Server">
                    <h3 class="text-center"><i class="bi bi-arrow-left-right text-danger"></i></h3>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div id="mobile">
            <div class="offcanvas offcanvas-start bg-dark" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
              id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel"><%= guild.name%> Settings</h5>
                <button type="button" class="btn-close text-white bg-light" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <div class="navbar-collapse" id="sidebar-settings">
                  <ul class="navbar-nav d-block">
                    <li><a class="nav-link nav-link-settings text-white active" aria-current="page"
                        href="/dashboard/<%=guild.id%>/musicsystem">
                        <i class="bi bi-music-note-list"></i> Music System</a>
                    </li>
                    <li><a class="nav-link nav-link-settings text-white" href="/dashboard/<%=guild.id%>/bassicsettings">
                        <i class="fas fa-user-cog"></i> Bassic</a>
                    </li>
                    <li><a class="nav-link nav-link-settings text-white" href="/dashboard/<%=guild.id%>/musicsettings">
                        <i class="bi bi-music-player-fill"></i> Music Player</a>
                    </li>
                    <li><a class="nav-link nav-link-settings text-white" href="/dashboard/<%=guild.id%>/autorole">
                        <i class="fas fa-user-tag"></i> Autorole</a>
                    </li>
                    <li><a class="nav-link nav-link-settings text-white"
                        href="/dashboard/<%=guild.id%>/greetingmessage">
                        <i class="fas fa-envelope-open-text"></i> Greeting & Leave Message</a>
                    </li>
                    <li><a class="nav-link nav-link-settings text-white" href="/dashboard/<%=guild.id%>/setupembed">
                        <i class="far fa-comment-alt"></i> Setup Embed</a>
                    </li>
                    <li><a class="nav-link nav-link-settings text-white" href="/dashboard/<%=guild.id%>/resetsettings">
                        <i class="fas fa-trash-restore"></i> Reset Settings</a>
                    </li>
                    <li><a class="nav-link nav-link-settings text-white" href="/dashboard">
                        <i class="fas fa-arrow-left text-danger"></i> Switch Server</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </side>
    <main class="container-fluid justify-content-center" id="player">
      <div class="row bg-dark p-3">
        <%if (player && player.queue && player.queue.length > 5) { %>
        <div class="row justify-content-center m-auto" id="playercurent">
          <div class="col-md-8">
            <div class="d-block justify-content-start" data-live-search="true" id="nowplaying">
              <div class="col-md">
                <h5 style="margin-bottom: 0.5rem; margin-top: 10px;color:#828cff">
                  <img src="https://cdn.discordapp.com/emojis/927445485843791882.gif?size=96" style="max-width: 50px;"
                    alt="disk">
                  <a href="<%= player.queue.current.uri%>" target="_blank"
                    style="color:#828cff"><%= player.queue.current.title %></a>
                </h5>
              </div>
              <div class="col-md img mb-4" id="nowplayingimg">
                <img src="https://img.youtube.com/vi/<%= player.queue.current.identifier%>/mqdefault.jpg"
                  class="rounded-3 shadow-sm" style="width: 40%; margin-top: 20px; border-radius: 5px;"
                  alt="player-thumbnail">
                <div class="d-flex mb-3 mt-3 text-white" id="infoplaying">
                  <h6><i class="fas fa-hourglass-start"></i> Song Duration: <br>
                    <span style="color: #828cff;"><%= format(player.position)%> /
                      <%= format(player.queue.current.duration) %></span>
                  </h6>
                  <h6><i class="fas fa-user-edit"></i> Song by: <br>
                    <span style="color: #828cff;"><%= player.queue.current.author%></span>
                  </h6>
                  <h6><i class="fas fa-stream"></i> Queue length: <br>
                    <span style="color: #828cff;"><%= player.queue.length%> Songs</span>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <form action="" method="post" class="mt-3">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fab fa-youtube text-danger"></i></span>
                <input type="text" class="form-control" id="myInput" placeholder="Search songs on Youtube..."
                  autocomplete="off">
              </div>
            </form>
            <button class="btn d-flex p-3 rounded-3 bg-light">
              <div class="col-md-3">
                <div class="img">
                  <img src="https://img.youtube.com/vi/<%= player.queue.current.identifier%>/mqdefault.jpg"
                    alt="playerImage" width="100%">
                </div>
              </div>
              <div class="col-md">
                <a href="<%= player.queue.current.uri%>" target="_blank"
                  style="color:#828cff"><%= player.queue.current.title %>
                </a>
                <p style="color:#828cff"><%= player.queue.current.author%>
                  <br><%= format(player.queue.current.duration) %>
                </p>
            </button>
          </div>
        </div>
        <div class="col-md-8 mb-3 text-white" id="requester">
          <h6 style="margin-bottom: 0; margin-top: 10px;"><img
              src="https://cdn.discordapp.com/avatars/<%= player.queue.current.requester.id%>/<%= player.queue.current.requester.avatar%>.png"
              alt="User Icon" style="width:auto; max-width: 30px;"> Requested by:
            <%= player.queue.current.requester.tag%>
          </h6>
        </div>
        <hr>
      </div>
      <div class="container-fluid fixed-bottom">
        <div class="row d-block pt-2 pb-2 bg-dark">
          <div class="col-md ms-auto pt-3" id="progressbar">
            <div class="progress">
              <div class="progress-bar" role="progressbar"
                style="width: <%= player.position / player.queue.current.duration * 100 %>%"
                aria-valuenow="<%= player.position %>" aria-valuemin="0"
                aria-valuemax="<%= player.queue.current.duration %>">
              </div>
            </div>
            <b class="text-muted"><%= format(player.position) %></b><b class="text-muted"
              style="float:right;"><%= format(player.queue.current.duration) %></b>
          </div>
          <div class="col-md-4 mx-auto p-0" id="btn-control">
            <form method="post" class="d-flex justify-content-evenly" action="/dashboard/<%=guild.id%>/musicsystempost">
              <!-- PAUSE BTN -->
              <input type="checkbox" class="btn-check" id="btn-resume" autocomplete="off" name="resume" title="resume">
              <label class="btn btn-success" for="btn-resume" data-bs-toggle="resume" data-bs-trigger="hover"
                data-bs-content="Resume the current song" data-bs-placement="top"><i class="fas fa-play"></i></label>
              <!-- RESUME BTN -->
              <input type="checkbox" class="btn-check" id="btn-pause" autocomplete="off" name="pause" title="Pause">
              <label class="btn btn-secondary" for="btn-pause" data-bs-toggle="pause" data-bs-trigger="hover"
                data-bs-content="Pause the current song" data-bs-placement="top"><i class="fas fa-pause"></i></label>
              <!-- SKIP -->
              <input type="checkbox" class="btn-check" id="btn-skip" autocomplete="off" name="skip" title="Skip">
              <label class="btn btn-primary" for="btn-skip" data-bs-toggle="skip" data-bs-trigger="hover"
                data-bs-content="Skip the current song" data-bs-placement="top"><i class="fas fa-forward"></i></label>
              <!-- SHUFFLE -->
              <input type="checkbox" class="btn-check" id="btn-shuffle" autocomplete="off" name="shuffle"
                title="Shuffle">
              <label class="btn btn-primary" for="btn-shuffle" data-bs-toggle="shuffle" data-bs-trigger="hover"
                data-bs-content="Shuffle this queue" data-bs-placement="top"><i class="fas fa-random"></i></label>
              <!-- STOP BTN -->
              <input type="checkbox" class="btn-check" id="btn-stop" autocomplete="off" name="stop" title="Stop">
              <label class="btn btn-danger" for="btn-stop" data-bs-toggle="stop" data-bs-trigger="hover"
                data-bs-content="If Autoplay on Bot Destroy (Leave Voice Channel!). else Stop & Clear Queue."
                data-bs-placement="top"><i class="fas fa-stop"></i></label>
              <!-- LEAVE -->
              <input type="checkbox" class="btn-check" id="btn-leave" autocomplete="off" name="leave" title="Leave">
              <label class="btn btn-danger" for="btn-leave" data-bs-toggle="leave" data-bs-trigger="hover"
                data-bs-content="Leave Voice Channel!" data-bs-placement="top"><i
                  class="fas fa-sign-out-alt"></i></label>
              <!-- BTN CONTROL -->
              <button class="btn btn-primary" type="submit" name="pause" title="Pause" id="submit" hidden></button>
            </form>
            <script>
              var resume = [].slice.call(document.querySelectorAll('[data-bs-toggle="resume"]'));
              var popoverResume = resume.map(function (popoverTriggerResume) {
                return new bootstrap.Popover(popoverTriggerResume)
              })
              var pause = [].slice.call(document.querySelectorAll('[data-bs-toggle="pause"]'));
              var popoverPause = pause.map(function (popoverTriggerPause) {
                return new bootstrap.Popover(popoverTriggerPause)
              })
              var skip = [].slice.call(document.querySelectorAll('[data-bs-toggle="skip"]'));
              var popoverSkip = skip.map(function (popoverTriggerSkip) {
                return new bootstrap.Popover(popoverTriggerSkip)
              })
              var shuffle = [].slice.call(document.querySelectorAll('[data-bs-toggle="shuffle"]'));
              var popoverShuffle = shuffle.map(function (popoverTriggerShuffle) {
                return new bootstrap.Popover(popoverTriggerShuffle)
              })
              var stopPl = [].slice.call(document.querySelectorAll('[data-bs-toggle="stop"]'));
              var popoverStop = stopPl.map(function (popoverTriggerStop) {
                return new bootstrap.Popover(popoverTriggerStop)
              })
              var leave = [].slice.call(document.querySelectorAll('[data-bs-toggle="leave"]'));
              var popoverLeave = leave.map(function (popoverTriggerLeave) {
                return new bootstrap.Popover(popoverTriggerLeave)
              })
            </script>
            <script>
              $('#btn-pause').click(function () {
                $('#submit').click();
              })
              $('#btn-resume').click(function () {
                $('#submit').click();
              })
              $('#btn-skip').click(function () {
                $('#submit').click();
              })
              $('#btn-stop').click(function () {
                $('#submit').click();
              })
              $('#btn-leave').click(function () {
                $('#submit').click();
              })
              $('#btn-shuffle').click(function () {
                $('#submit').click();
              })
            </script>
          </div>
        </div>
      </div>
      <% } else { %>
      <div class="row">
        <div class="col-md">
          <h3 class="text-white text-center">Noting Playing Right Now!</h3>
        </div>
        <div class="col-md-4">
          <form action="" method="post">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fab fa-youtube text-danger"></i></span>
              <input type="text" class="form-control" id="myInput" placeholder="Search songs on Youtube..."
                autocomplete="off">
            </div>
          </form>
        </div>
      </div>
      <% } %>
      </div>
    </main>
  </section>
  <script>
    var shuffle = [].slice.call(document.querySelectorAll('[data-bs-toggle="nav-music-player"]'));
    var popoverShuffle = shuffle.map(function (popoverTriggerShuffle) {
      return new bootstrap.Popover(popoverTriggerShuffle)
    })
    var shuffle = [].slice.call(document.querySelectorAll('[data-bs-toggle="guild-pop"]'));
    var popoverShuffle = shuffle.map(function (popoverTriggerShuffle) {
      return new bootstrap.Popover(popoverTriggerShuffle)
    })
    var shuffle = [].slice.call(document.querySelectorAll('[data-bs-toggle="nav-queue"]'));
    var popoverShuffle = shuffle.map(function (popoverTriggerShuffle) {
      return new bootstrap.Popover(popoverTriggerShuffle)
    })
    var shuffle = [].slice.call(document.querySelectorAll('[data-bs-toggle="nav-switch-server"]'));
    var popoverShuffle = shuffle.map(function (popoverTriggerShuffle) {
      return new bootstrap.Popover(popoverTriggerShuffle)
    })
  </script>
</body>

</html>