<!doctype html>
<html lang="en">

<head>
  <%- include('./element/head'); -%>
  <!-- My CSS -->
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/dashboard.css">
  <link rel="stylesheet" href="/footer.css">

  <title>Dashboard | <%= bot.user.username %></title>
  <link rel="icon" type="image/png" href="<%= bot.user.displayAvatarURL({size: 128}) %>">
</head>

<body>
  <%- include('./element/header'); -%>
  <section class="justify-content-center">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md m-2">
          <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-1 bd-highlight text-center">
              <h1 class="fw-bolder"><%= bot.user.username%></h1>
              <hr>
            </div>
            <div class="p-1 bd-highlight text-center">
              <p class="mb-0">
                Commands Used: <code> <%= statsGlobal.Commands %> </code>
                Songs Playing: <code> <%= statsGlobal.Songs %></code>
                <br>
                Hallo, <span style=" color: #f0a3ff; "><%= user.username%> </span> please select your servers.
              </p>

            </div>
            <div class="p-2 bd-highlight text-center">
              <p class="mb-0">
              </p>
            </div>
          </div>
        </div>
      </div>
      <% if(user && user.id){ %>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="overflow-auto bg-dark rounded-3 guild-nav p-2">
          <% user.guilds.filter(guild=>{
            const permsOnGuild = new Permissions(guild.permissions_new);
            if(permsOnGuild.has(Permissions.FLAGS.MANAGE_GUILD)) return guild;
            }).sort((a, b) => {
              return (bot.guilds.cache.get(a.id) == bot.guilds.cache.get(b.id)) ? 0 : a ? -1 : 1;
            }).forEach(guild => { %>
          <div class="col-md m-2 p-2 rounded-3 bg-dark shadow-sm">
            <div class="d-flex align-items-center">
              <div class="justify-item-start">
                <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}" class="rounded-circle img">` : `<img src="https://media.discordapp.net/attachments/901446802711142460/931743540684415016/discord-statistics.jpg" class="rounded-circle img">` %>
              </div>
              <div class="ps-3 flex-grow-1">

                <span class="align-items-center"><%= guild.name %></span>
              </div>
              <div class="d-flex ms-auto">
                <% if(bot.guilds.cache.get(guild.id)){ %>
                <div class="col-md group-btn">
                  <button class="btn btn-dash-upgrade btn-dash fs-6 shadow-sm" onclick="location.href='/premium'"><i
                      class="fas fa-gem"></i> Upgrade</button>
                  <button class="btn btn-dash-edit btn-dash fs-6 shadow-sm"
                    onclick="location.href='<%- botconfig.domain %>dashboard/<%- guild.id %>/musicsystem'">Dashboard</button>
                </div>
                <% }else {  %>
                <div class="col-md group-btn">
                  <button class="btn btn-dash-upgrade btn-dash fs-6 shadow-sm" disabled><i class="fas fa-gem"></i>
                    Upgrade</button>
                  <button class="btn btn-dash-invite btn-dash fs-6 shadow-sm"
                    onclick="location.href='<%= `https://discordapp.com/oauth2/authorize?client_id=${bot.user.id}&permissions=8&scope=identify%20email%20guilds%20bot%20applications.commands&guild_id=${guild.id}&response_type=code&redirect_uri=${encodeURIComponent(`${callback}`)}` %>'">Invite
                    me</button>
                </div>
                <% } %>
              </div>
            </div>
          </div>
          <% }) %>
        </div>


      </div>
    </div>
    <% }else {  %>
    <p>Please login First!</p>
    <%  } %>
  </section>
</body>

</html>

<%- include('./element/footer'); -%>