<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./element/head'); -%>
  <!-- My CSS -->
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/footer.css">
  <link rel="stylesheet" href="/docs.css">

  <title>Documentation | <%= bot.user.username %></title>
  <link rel="icon" type="image/png" href="<%= bot.user.displayAvatarURL({size: 128}) %>">
</head>

<body>
  <!-- SCRIPT -->
  <script>
    function openInvite() {
      window.open('https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands', 'popup', 'width=450,height=800'); return false;
    }
  </script>
  <!-- NAVBAR -->
  <%- include('./element/header'); -%>
  <!-- HEADER -->
  <section>
    <div class="container-fluid my-md-4">
      <div class="row m-5 justify-content-center">
        <div class="col-md-4 bd-sidebar mb-4" style="max-width: 400px;">
          <div class="col-xs-3 d-block mb-3 sticky-top"
            style="background-color: #26292e; border-radius: 10px; padding: 10px; height: 900px; overflow-y: scroll !important;">
            <div class="d-flex rounded-3 mb-5" style="background-color: #3b3f47; padding: 10px; width: 100%;">
              <div class="img" style="margin:auto;">
                <img src="<%= bot.user.displayAvatarURL({size: 512}) %>" alt="Logo" style="max-width: 100px;">
              </div>
              <div class="d-block" style="margin:auto;">
                <h5 class="text-white"><%= bot.user.username %> Documentation</h5>
              </div>
            </div>
            <div class="list-group">
              <!-- CATEGORY QUICKSTART -->
              <div class="accordion-item bg-dark text-white category border-0">
                <a class="accordion-header bg-dark text-white category border-0" id="panel-category-quickstarts"
                  style="text-decoration: none;">
                  <button class="accordion-button list-group-item collapsed bg-dark text-white category border-0"
                    type="button" data-bs-toggle="collapse" data-bs-target="#panel-category-quickstart"
                    aria-expanded="false" aria-controls="panel-category-quickstart" onclick="location.href='#'"
                    id="btn-quickstart">
                    Quick Start
                  </button>
                </a>
                <div id="panel-category-quickstart" class="accordion-collapse collapse show"
                  aria-labelledby="panel-category-quickstarts">
                  <div class="accordion-body category-body">
                    <a class="list-group-item bg-dark text-white list-group-item-action" href="#Invite"
                      id="show-notresponding">How To Invite Kucluck</a>
                    <a class="list-group-item bg-dark text-white list-group-item-action" href="#Use"
                      id="show-notresponding">How To Use Kucluck</a>
                  </div>
                </div>
              </div>
              <!-- CATEGORY SETUP -->
              <div class="accordion-item bg-dark text-white category border-0">
                <a class="accordion-header bg-dark text-white category border-0" id="panel-category-setups"
                  style="text-decoration: none;">
                  <button class="accordion-button list-group-item collapsed bg-dark text-white category border-0"
                    type="button" data-bs-toggle="collapse" data-bs-target="#panel-category-setup" aria-expanded="false"
                    aria-controls="panel-category-setup" onclick="location.href='#Setup'">
                    Setup
                  </button>
                </a>
                <div id="panel-category-setup" class="accordion-collapse collapse"
                  aria-labelledby="panel-category-setups">
                  <div class="accordion-body category-body">
                    <a class="list-group-item bg-dark text-white list-group-item-action" href="#prefix"
                      id="show-prefix">Prefix</a>
                    <a class="list-group-item bg-dark text-white list-group-item-action" href="#music-system"
                      id="show-music-setup">Music System</a>
                    <a class="list-group-item bg-dark text-white list-group-item-action" href="#djrole"
                      id="show-djrole">DJ Role</a>
                    <a class="list-group-item bg-dark text-white list-group-item-action" href="#BCC" id="show-BCC">Bot
                      Channel Chat</a>
                    <a class="list-group-item bg-dark text-white list-group-item-action" href="#auto-role"
                      id="show-autorole">Auto Roles</a>
                    <a class="list-group-item bg-dark text-white list-group-item-action" href="#pruning"
                      id="show-pruning">Pruning</a>
                    <a class="list-group-item bg-dark text-white list-group-item-action" href="#reaction-role"
                      id="show-reaction-role">Reaction Roles</a>
                    <a class="list-group-item bg-dark text-white list-group-item-action" href="#greeting-message"
                      id="show-greeting-message">Greeting
                      Message</a>
                  </div>
                </div>
              </div>
              <!-- CATEGORY FAQ -->
              <div class="accordion-item bg-dark text-white category border-0">
                <a class="accordion-header bg-dark text-white category border-0" id="panel-category-FAQS"
                  style="text-decoration: none;">
                  <button class="accordion-button list-group-item collapsed bg-dark text-white category border-0"
                    type="button" data-bs-toggle="collapse" data-bs-target="#panel-category-faq" aria-expanded="false"
                    aria-controls="panel-category-faq" onclick="location.href='#faq'" id="btn-faq">
                    FAQ
                  </button>
                </a>
                <div id="panel-category-faq" class="accordion-collapse collapse" aria-labelledby="panel-category-FAQS">
                  <div class="accordion-body category-body">
                    <a class="list-group-item bg-dark text-white list-group-item-action" href="#faq#notresponding"
                      id="show-notresponding">Bot Not Responding</a>
                    <a class="list-group-item bg-dark text-white list-group-item-action" href="#faq#vclagging"
                      id="show-notresponding">Voice Lagging / Interrupted</a>
                    <a class="list-group-item bg-dark text-white list-group-item-action" href="#faq#silent"
                      id="show-notresponding">Bot is silent</a>
                    <a class="list-group-item bg-dark text-white list-group-item-action" href="#faq#silentaftermoved"
                      id="show-notresponding">Bot is silent after moved VC</a>
                    <a class="list-group-item bg-dark text-white list-group-item-action" href="#faq#premiumfiture"
                      id="show-premiumfiture">Premium Feature</a>
                    <a class="list-group-item bg-dark text-white list-group-item-action" href="#faq#premium"
                      id="show-premium">Where and How can I get Kucluck Premium</a>
                    <a class="list-group-item bg-dark text-white list-group-item-action" href="#faq#premiumproblem"
                      id="show-premiumproblem">Premium Problem</a>
                  </div>
                </div>
              </div>
              <!-- CATEGORY ABOUT -->
              <div class="accordion-item bg-dark text-white category border-0">
                <a class="accordion-header bg-dark text-white category border-0" id="panel-category-abouts"
                  style="text-decoration: none;">
                  <button class="accordion-button list-group-item collapsed bg-dark text-white category border-0"
                    type="button" data-bs-toggle="collapse" data-bs-target="#panel-category-about" aria-expanded="false"
                    aria-controls="panel-category-about" onclick="location.href='#about'" id="btn-about">
                    About
                  </button>
                </a>
                <div id="panel-category-about" class="accordion-collapse collapse"
                  aria-labelledby="panel-category-abouts">
                  <div class="accordion-body category-body">
                    <a class="list-group-item bg-dark text-white list-group-item-action" href="#kucluck">Kucluck</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 bg-dark text-white mb-5 rounded-3" data-bs-offset="0" tabindex="0">
          <div class="row">
            <div id="quickstart">
              <!-- INVITE -->
              <div class="col-md-12 pt-3 pb-3" id="Invite">
                <div class="row m-2">
                  <div class="col-md-1">
                    <a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                      target="popup" onclick="openInvite()"><img src="<%= bot.user.displayAvatarURL() %>" alt="Logo"
                        width="70px"></a>
                  </div>
                  <div class="col-md-11 pt-1">
                    <p><a
                        href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                        target="popup" onclick="openInvite()"
                        class="text-decoration-none text-white"><%= bot.user.username%></a> <span class="bg-primary"
                        style="padding: 0px 5px; border-radius: 5px; font-size: 12px;"><i class="fas fa-check"></i>
                        BOT</span><span class="text-muted" style="font-size: 12px; padding-left: 5px;">
                        23/01/2022</span></p>
                    <div class="embed">
                      <!-- TITLE -->
                      <h4 class="title">Invite a Kucluck Bot</h4>
                      <!-- DESCRIPTION -->
                      <p class="description">Inviting Kucluck Bot on your server is very easy. First, please check if
                        you
                        have Administrator or Manage Server permissions.
                        For the server owner has all the permissions even without roles.
                        If you have confirmed that you have a role in managing the server, now you can invite Kucluck
                        Bot
                        using <a
                          href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                          target="popup" onclick="openInvite()" class="text-decoration-none">this link</a>.</p>
                      <!-- IMAGE -->
                      <div class="img"><img
                          src="https://media.discordapp.net/attachments/901446802711142460/934599682334801920/unknown.png?width=250&height=479"
                          alt="invite"></div>
                      <!-- FOOTER -->
                      <p class="footer"><img src="<%= owner.displayAvatarURL()%>" alt="ownerimg" width="30px"> Write by:
                        <%= owner.tag%></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- USE -->
              <div class="col-md-12 pt-3 pb-3" id="Use">
                <div class="row m-2">
                  <div class="col-md-1">
                    <a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                      target="popup" onclick="openInvite()"><img src="<%= bot.user.displayAvatarURL() %>" alt="Logo"
                        width="70px"></a>
                  </div>
                  <div class="col-md-11 pt-1">
                    <p><a
                        href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                        target="popup" onclick="openInvite()"
                        class="text-decoration-none text-white"><%= bot.user.username%></a> <span class="bg-primary"
                        style="padding: 0px 5px; border-radius: 5px; font-size: 12px;"><i class="fas fa-check"></i>
                        BOT</span><span class="text-muted" style="font-size: 12px; padding-left: 5px;">
                        23/01/2022</span></p>
                    <div class="embed">
                      <!-- TITLE -->
                      <h4 class="title">Use a Kucluck Bot</h4>
                      <!-- DESCRIPTION -->
                      <p class="description">Now you can use Kucluck Bot on your Discord server. To use Kucluck bot, you
                        can use the required prefix + command. <br><br>Default Prefix:
                        <code>[<%= config.prefix%>]</code><br>You can see the commands for
                        Kucluck Bot <a href="/commands" target="_blank">here</a>, or you can send a message <code><%= config.prefix%>help
                        [command]</code>.
                      </p>
                      <!-- FOOTER -->
                      <p class="footer"><img src="<%= owner.displayAvatarURL()%>" alt="ownerimg" width="30px"> Write by:
                        <%= owner.tag%></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- SETUP -->
            <div class="col-md-12 pt-3 pb-3" id="Setup">
              <div class="row m-2">
                <div class="col-md-1">
                  <a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                    target="popup" onclick="openInvite()"><img src="<%= bot.user.displayAvatarURL() %>" alt="Logo"
                      width="70px"></a>
                </div>
                <div class="col-md-11 pt-1">
                  <div class="heading">
                    <p><a
                        href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                        target="popup" onclick="openInvite()"
                        class="text-decoration-none text-white"><%= bot.user.username%></a> <span class="bg-primary"
                        style="padding: 0px 5px; border-radius: 5px; font-size: 12px;"><i class="fas fa-check"></i>
                        BOT</span><span class="text-muted" style="font-size: 12px; padding-left: 5px;">
                        23/01/2022</span></p>
                  </div>
                  <div class="embed">
                    <!-- TITLE -->
                    <h4 class="title">Setup a Kucluck Bot</h4>
                    <!-- DESCRIPTION -->
                    <div class="description">
                      <p>Now you can setup kucluck using command or in dashboard settings.<br>
                        If you are already <strong>Login</strong>, you can go directly to <a href="/dashboard"
                          target="_blank">this link</a> to
                        set up kucluck on the dashboard.</p>
                      <div class="accordion" id="accordionPanelsStayOpenExample">
                        <!-- PREFIX -->
                        <div class="accordion-item bg-transparent border-0 embed-accordion text-white">
                          <h2 class="accordion-header bg-transparent border-0 embed-accordion text-white" id="prefix">
                            <button
                              class="accordion-button collapsed bg-transparent border-0 ps-0 embed-accordion text-white"
                              type="button" data-bs-toggle="collapse" data-bs-target="#panel-prefix"
                              aria-expanded="false" aria-controls="panel-prefix" id="btn-prefix">
                              <i class="fas fa-hashtag"></i> &nbsp Prefix
                            </button>
                          </h2>
                          <div id="panel-prefix" class="accordion-collapse collapse" aria-labelledby="prefix">
                            <div class="accordion-body description pt-0">
                              <p>You can custom prefix according to what you need to run all commands in your guild. How
                                to
                                run the command <code><%= config.prefix%>prefix [new Prefix]</code>, for example
                                <code><%= config.prefix%>prefix k!</code>,
                                and now the prefix for your guild is <code>k!</code>.<br>When you have changed the
                                prefix
                                run commands with the prefix you set earlier.
                              </p>
                              <div class="img"><img
                                  src="https://media.discordapp.net/attachments/901446802711142460/934632911142019113/14.PNG"
                                  alt="prefix"></div>
                            </div>
                          </div>
                        </div>
                        <!-- MUSIC SETUP -->
                        <div class="accordion-item bg-transparent border-0 embed-accordion text-white">
                          <h2 class="accordion-header bg-transparent border-0 embed-accordion text-white"
                            id="music-setup">
                            <button
                              class="accordion-button collapsed bg-transparent border-0 ps-0 embed-accordion text-white"
                              type="button" data-bs-toggle="collapse" data-bs-target="#panel-music-setup"
                              aria-expanded="false" aria-controls="panel-music-setup" id="btn-music-setup">
                              <i class="fas fa-hashtag"></i> &nbsp Music System
                            </button>
                          </h2>
                          <div id="panel-music-setup" class="accordion-collapse collapse" aria-labelledby="music-setup">
                            <div class="accordion-body description pt-0">
                              <p><span style="color: #ddc3ff; background-color: transparent;">Music System</span> is one
                                of the features that can make it easier for you to play a song. To use this feature
                                first, please create a new text channel, after the text channel has been created, run
                                the command <code><%= config.prefix%>setup-music [#text-channel]</code>. Kucluck will
                                create a new message
                                to serve as <span style="color: #ddc3ff; background-color: transparent;">Music
                                  System</span> in the text channel.<br>
                                Now you can play songs without using commands. You only need to send a message in the
                                form of a <strong>song title / url link / playlist link</strong> into the text channel.
                              </p>
                              <div class="img mb-3"><img
                                  src="https://media.discordapp.net/attachments/901446802711142460/934632855970148352/8.PNG?width=327&height=479"
                                  alt="music-setup"></div>
                              <p><span style="color: #e01e01; background-color: transparent;"><i
                                    class="fas fa-exclamation-triangle"></i> Important!!! <i
                                    class="fas fa-exclamation-triangle"></i></span><br>
                                Do not delete the text channel and the message. If the text channel and messages are
                                deleted run the command <code><%= config.prefix%>reset</code> in the options menu select
                                <span style="color: #ddc3ff; background-color: transparent;">Music System</span>.
                              </p>
                            </div>
                          </div>
                        </div>
                        <!-- DJ ROLE -->
                        <div class="accordion-item bg-transparent border-0 embed-accordion text-white">
                          <h2 class="accordion-header bg-transparent border-0 embed-accordion text-white" id="djrole">
                            <button
                              class="accordion-button collapsed bg-transparent border-0 ps-0 embed-accordion text-white"
                              type="button" data-bs-toggle="collapse" data-bs-target="#panel-djrole"
                              aria-expanded="false" aria-controls="panel-djrole" id="btn-djrole">
                              <i class="fas fa-hashtag"></i> &nbsp DJ Role
                            </button>
                          </h2>
                          <div id="panel-djrole" class="accordion-collapse collapse" aria-labelledby="djrole">
                            <div class="accordion-body description pt-0">
                              <p>The DJ system is useful for using some music commands, so that those who don't have
                                roles can't use them.
                              </p>
                              <div class="img mb-3"><img
                                  src="https://media.discordapp.net/attachments/901446802711142460/934632905366466580/11.PNG"
                                  alt="djrole"></div>
                              <p>You can set the DJ role by running the command
                                <code><%= config.prefix%>adddj [@djrole]</code>.
                              </p>
                            </div>
                          </div>
                        </div>
                        <!-- BOT CHANNEL CHAT -->
                        <div class="accordion-item bg-transparent border-0 embed-accordion text-white">
                          <h2 class="accordion-header bg-transparent border-0 embed-accordion text-white" id="BCC">
                            <button
                              class="accordion-button collapsed bg-transparent border-0 ps-0 embed-accordion text-white"
                              type="button" data-bs-toggle="collapse" data-bs-target="#panel-BCC" aria-expanded="false"
                              aria-controls="panel-BCC" id="btn-BCC">
                              <i class="fas fa-hashtag"></i> &nbsp Bot Channels Chat
                            </button>
                          </h2>
                          <div id="panel-BCC" class="accordion-collapse collapse" aria-labelledby="BCC">
                            <div class="accordion-body description pt-0">
                              <p>You can set bot channel chat (max 5 channels), so that members in your guild are not
                                disturbed by chat from bot.
                              </p>
                              <div class="img mb-3"><img
                                  src="https://media.discordapp.net/attachments/901446802711142460/934632910714187826/12.PNG"
                                  alt="BCC"></div>
                              <p>You can set the chat bot by run the command
                                <code><%= config.prefix%>addbotchat [#text-channel]</code>.
                              </p>
                            </div>
                          </div>
                        </div>
                        <!-- AUTO ROLE -->
                        <div class="accordion-item bg-transparent border-0 embed-accordion text-white">
                          <h2 class="accordion-header bg-transparent border-0 embed-accordion text-white" id="autorole">
                            <button
                              class="accordion-button collapsed bg-transparent border-0 ps-0 embed-accordion text-white"
                              type="button" data-bs-toggle="collapse" data-bs-target="#panel-autorole"
                              aria-expanded="false" aria-controls="panel-autorole" id="btn-autorole">
                              <i class="fas fa-hashtag"></i> &nbsp Auto Role
                            </button>
                          </h2>
                          <div id="panel-autorole" class="accordion-collapse collapse" aria-labelledby="autorole">
                            <div class="accordion-body description pt-0">
                              <p><strong>Auto role</strong> serves to give automatic roles to members who have just
                                joined your
                                guild.<br>
                                To set the auto role you can run the command
                                <code><%= config.prefix%>autorole [@role]</code> and if you
                                have set the auto role. Now run the command
                                <code><%= config.prefix%>toggleautorole</code> to enable the
                                function of the autorole.
                              </p>
                              <div class="img mb-3"><img
                                  src="https://media.discordapp.net/attachments/901446802711142460/934632910923911229/13.PNG"
                                  alt="autorole"></div>
                            </div>
                          </div>
                        </div>
                        <!-- PRUNING -->
                        <div class="accordion-item bg-transparent border-0 embed-accordion text-white">
                          <h2 class="accordion-header bg-transparent border-0 embed-accordion text-white" id="pruning">
                            <button
                              class="accordion-button collapsed bg-transparent border-0 ps-0 embed-accordion text-white"
                              type="button" data-bs-toggle="collapse" data-bs-target="#panel-pruning"
                              aria-expanded="false" aria-controls="panel-pruning" id="btn-pruning">
                              <i class="fas fa-hashtag"></i> &nbsp Pruning Message
                            </button>
                          </h2>
                          <div id="panel-pruning" class="accordion-collapse collapse" aria-labelledby="pruning">
                            <div class="accordion-body description pt-0">
                              <p>Toggles playmessage (same as pruning...). If its true a message of playing a new track
                                will be sent, even if your afk. If false it wont send any message if a new Track plays!
                                | Default: true aka send new Track information.<br>
                                You can disable pruning by running the command <code><%= config.prefix%>pruning</code>.
                              </p>
                              <div class="img mb-3"><img
                                  src="https://media.discordapp.net/attachments/901446802711142460/934632911347523674/15.PNG"
                                  alt="pruning"></div>
                            </div>
                          </div>
                        </div>
                        <!-- REACTION ROLES -->
                        <div class="accordion-item bg-transparent border-0 embed-accordion text-white">
                          <h2 class="accordion-header bg-transparent border-0 embed-accordion text-white"
                            id="reaction-role">
                            <button
                              class="accordion-button collapsed bg-transparent border-0 ps-0 embed-accordion text-white"
                              type="button" data-bs-toggle="collapse" data-bs-target="#panel-reaction-role"
                              aria-expanded="false" aria-controls="panel-reaction-role" id="btn-reaction-role">
                              <i class="fas fa-hashtag"></i> &nbsp Reaction Roles
                            </button>
                          </h2>
                          <div id="panel-reaction-role" class="accordion-collapse collapse"
                            aria-labelledby="reaction-role">
                            <div class="accordion-body description pt-0">
                              <p>Reaction Roles, function as assistants in the guild, so you don't have to manually
                                assign roles.
                              </p>
                              <div class="img mb-3"><img
                                  src="https://media.discordapp.net/attachments/901446802711142460/934632911636922489/16.PNG"
                                  alt="reaction-role1">
                              </div>
                              <p>To give members a choice of roles, you need to add roles by
                                <code><%= config.prefix%>roleadd [@role] [emoji] [short description]</code>. max 5
                                roles!.
                              </p>
                              <div class="img mb-3"><img
                                  src="https://media.discordapp.net/attachments/901446802711142460/934632911834066994/17.PNG"
                                  alt="reaction-role2">
                              </div>
                              <p>When you are done adding roles, now you need to run the command
                                <code><%= config.prefix%>rolesend [#text-channel] [Title Embed]</code>
                              </p>
                              <div class="img mb-3"><img
                                  src="https://media.discordapp.net/attachments/901446802711142460/934632912039596112/18.PNG"
                                  alt="reaction-role3">
                              </div>
                              <p>Kucluck will send a new message in the text channel to be used as a reaction roles
                                function.</p>
                            </div>
                          </div>
                        </div>
                        <!-- GREETING MESSAGE -->
                        <div class="accordion-item bg-transparent border-0 embed-accordion text-white">
                          <h2 class="accordion-header bg-transparent border-0 embed-accordion text-white"
                            id="greeting-message">
                            <button
                              class="accordion-button collapsed bg-transparent border-0 ps-0 embed-accordion text-white"
                              type="button" data-bs-toggle="collapse" data-bs-target="#panel-greeting-message"
                              aria-expanded="false" aria-controls="panel-greeting-message" id="btn-greeting-message">
                              <i class="fas fa-hashtag"></i> &nbsp Greeting Message
                            </button>
                          </h2>
                          <div id="panel-greeting-message" class="accordion-collapse collapse"
                            aria-labelledby="greeting-message">
                            <div class="accordion-body description pt-0">
                              <p>Greeting Message serves to give a message if a new member joins your guild.
                              </p>
                              <div class="img mb-3"><img
                                  src="https://media.discordapp.net/attachments/901446802711142460/934632912270286908/19.PNG"
                                  alt="greeting-message1">
                              </div>
                              <p>To set Greeting Message you need to run the command
                                <code><%= config.prefix%>greetingset [#text-channel] [messages]</code>.
                              </p>
                              <div>
                                <p><strong>Format for messages:</strong></p>
                                <ul>
                                  <li><code>%mention%</code> = Mention Member</li>
                                  <li><code>%guild%</code> = Guild Name</li>
                                  <li><code>**% %**</code> = Bold font</li>
                                </ul>
                              </div>
                              <p>
                                <strong>Example:</strong><br>
                                <code>!greetingset #welcome-channel Hay, %mention% Welcome to **%guild%**. Take a Role on the #text-channel if you need to.</code>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- FOOTER -->
                    <p class="footer mt-3"><img src="<%= owner.displayAvatarURL()%>" alt="ownerimg" width="30px"> Write
                      by:
                      <%= owner.tag%></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- FAQ -->
            <div id="faq">
              <!-- BOT NOT RESPONDING -->
              <div class="col-md-12 pt-3 pb-3" id="faq#notresponding">
                <div class="row m-2">
                  <div class="col-md-1">
                    <a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                      target="popup" onclick="openInvite()"><img src="<%= bot.user.displayAvatarURL() %>" alt="Logo"
                        width="70px"></a>
                  </div>
                  <div class="col-md-11 pt-1">
                    <p><a
                        href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                        target="popup" onclick="openInvite()"
                        class="text-decoration-none text-white"><%= bot.user.username%></a> <span class="bg-primary"
                        style="padding: 0px 5px; border-radius: 5px; font-size: 12px;"><i class="fas fa-check"></i>
                        BOT</span><span class="text-muted" style="font-size: 12px; padding-left: 5px;">
                        23/01/2022</span></p>
                    <div class="embed">
                      <!-- TITLE -->
                      <h4 class="title">Kucluck Bot Not Responding to Commands</h4>
                      <!-- DESCRIPTION -->
                      <p class="description">First, please check whether Kucluck Bot is online or not, and if online,
                        please check whether Kucluck Bot is given permission to view and send messages on the text
                        channel
                        that you use to give commands.<br> Now if everything has been checked and still not responding,
                        please check your prefix in guild by mention bot <code>@kucluck</code> whether the prefix you
                        are
                        using is correct or not.
                      </p>
                      <div class="img pb-3"> <img
                          src="https://media.discordapp.net/attachments/901446802711142460/934632917647392808/21.PNG"
                          alt="notresponding">
                      </div>
                      <p class="description">If the bot still doesn't respond to commands you can report this problem to
                        <a href="mailto:admin@kucluck.com" style="text-decoration: none;">admin@kucluck.com</a>. Or you
                        can use command <code><%= config.prefix%>report [query]</code>.
                      </p>
                      <!-- FOOTER -->
                      <p class="footer"><img src="<%= owner.displayAvatarURL()%>" alt="ownerimg" width="30px"> Write by:
                        <%= owner.tag%></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- LAGGING -->
              <div class="col-md-12 pt-3 pb-3" id="faq#vclagging">
                <div class="row m-2">
                  <div class="col-md-1">
                    <a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                      target="popup" onclick="openInvite()"><img src="<%= bot.user.displayAvatarURL() %>" alt="Logo"
                        width="70px"></a>
                  </div>
                  <div class="col-md-11 pt-1">
                    <p><a
                        href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                        target="popup" onclick="openInvite()"
                        class="text-decoration-none text-white"><%= bot.user.username%></a> <span class="bg-primary"
                        style="padding: 0px 5px; border-radius: 5px; font-size: 12px;"><i class="fas fa-check"></i>
                        BOT</span><span class="text-muted" style="font-size: 12px; padding-left: 5px;">
                        23/01/2022</span></p>
                    <div class="embed">
                      <!-- TITLE -->
                      <h4 class="title">Kucluck Voice Lagging</h4>
                      <!-- DESCRIPTION -->
                      <p class="description">First, you can check whether your ping on the voice channel is high or low
                        by
                        clicking Voice Connected at the bottom.
                      </p>
                      <div class="img pb-3"> <img
                          src="https://media.discordapp.net/attachments/901446802711142460/934632854955106304/4.PNG?width=279&height=480"
                          alt="silent3">
                      </div>
                      <p class="description">If your ping is high you can directly set your server region in the
                        following
                        way.<br>
                      </p>
                      <p class="description">
                        First click the gear button next to the name of the voice channel
                      </p>
                      <div class="img pb-3"> <img
                          src="https://media.discordapp.net/attachments/901446802711142460/934632855173218334/5.png"
                          alt="silent4">
                      </div>
                      <p class="description">Then in the Overview section you scroll down until you find REGION
                        OVERRIDE.
                        If you have found it, you can immediately select the region of your voice channel by adjusting
                        it
                        to your ping.
                      </p>
                      <div class="img pb-3"> <img
                          src="https://media.discordapp.net/attachments/901446802711142460/934632855403900989/6.PNG?width=796&height=480"
                          alt="silent5">
                      </div>
                      <!-- FOOTER -->
                      <p class="footer"><img src="<%= owner.displayAvatarURL()%>" alt="ownerimg" width="30px"> Write by:
                        <%= owner.tag%></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- BOT IS SILENT -->
              <div class="col-md-12 pt-3 pb-3" id="faq#silent">
                <div class="row m-2">
                  <div class="col-md-1">
                    <a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                      target="popup" onclick="openInvite()"><img src="<%= bot.user.displayAvatarURL() %>" alt="Logo"
                        width="70px"></a>
                  </div>
                  <div class="col-md-11 pt-1">
                    <p><a
                        href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                        target="popup" onclick="openInvite()"
                        class="text-decoration-none text-white"><%= bot.user.username%></a> <span class="bg-primary"
                        style="padding: 0px 5px; border-radius: 5px; font-size: 12px;"><i class="fas fa-check"></i>
                        BOT</span><span class="text-muted" style="font-size: 12px; padding-left: 5px;">
                        23/01/2022</span></p>
                    <div class="embed">
                      <!-- TITLE -->
                      <h4 class="title">Why is Kucluck not making a sound?</h4>
                      <!-- DESCRIPTION -->
                      <p class="description">First, please see first, has Kucluck been muted by you or not?
                      </p>
                      <div class="img pb-3"> <img
                          src="https://media.discordapp.net/attachments/901446802711142460/934670111883817021/unknown.png"
                          alt="silent1">
                      </div>
                      <p class="description">If not, you can continue by checking the <strong>queue</strong> on your
                        server, by running the <code><%= config.prefix%>queue</code> command.
                      </p>
                      <div class="img pb-3"> <img
                          src="https://media.discordapp.net/attachments/901446802711142460/934671085935403028/unknown.png"
                          alt="silent2">
                      </div>
                      <p class="description">If it still doesn't sound, you can try removing Kucluck, then calling it
                        back
                        to your voice channel by playing a song using the <strong>command</strong> or <strong>if you
                          have
                          set up the music system</strong> you can directly enter the <strong>song title / link</strong>
                        in the <strong>channel music system</strong>.</p>
                      <!-- FOOTER -->
                      <p class="footer"><img src="<%= owner.displayAvatarURL()%>" alt="ownerimg" width="30px"> Write by:
                        <%= owner.tag%></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- BOT IS SILENT AFTER MOVED -->
              <div class="col-md-12 pt-3 pb-3" id="faq#silentaftermoved">
                <div class="row m-2">
                  <div class="col-md-1">
                    <a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                      target="popup" onclick="openInvite()"><img src="<%= bot.user.displayAvatarURL() %>" alt="Logo"
                        width="70px"></a>
                  </div>
                  <div class="col-md-11 pt-1">
                    <p><a
                        href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                        target="popup" onclick="openInvite()"
                        class="text-decoration-none text-white"><%= bot.user.username%></a> <span class="bg-primary"
                        style="padding: 0px 5px; border-radius: 5px; font-size: 12px;"><i class="fas fa-check"></i>
                        BOT</span><span class="text-muted" style="font-size: 12px; padding-left: 5px;">
                        23/01/2022</span></p>
                    <div class="embed">
                      <!-- TITLE -->
                      <h4 class="title">Why does Kucluck after being moved make no sound?</h4>
                      <!-- DESCRIPTION -->
                      <p class="description">First you can try by moving the kucluck to the previous voice channel, then
                        you move it again to the voice channel you want.
                      </p>
                      <p class="description">If it still doesn't sound, you can try removing Kucluck, then calling it
                        back
                        to your voice channel by playing a song using the <strong>command</strong> or <strong>if you
                          have
                          set up the music system</strong> you can directly enter the <strong>song title / link</strong>
                        in the <strong>channel music system</strong>.
                      </p>

                      <!-- FOOTER -->
                      <p class="footer"><img src="<%= owner.displayAvatarURL()%>" alt="ownerimg" width="30px"> Write by:
                        <%= owner.tag%></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- PREMIUM FITURE-->
              <div class="col-md-12 pt-3 pb-3" id="faq#premiumfiture">
                <div class="row m-2">
                  <div class="col-md-1">
                    <a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                      target="popup" onclick="openInvite()"><img src="<%= bot.user.displayAvatarURL() %>" alt="Logo"
                        width="70px"></a>
                  </div>
                  <div class="col-md-11 pt-1">
                    <p><a
                        href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                        target="popup" onclick="openInvite()"
                        class="text-decoration-none text-white"><%= bot.user.username%></a> <span class="bg-primary"
                        style="padding: 0px 5px; border-radius: 5px; font-size: 12px;"><i class="fas fa-check"></i>
                        BOT</span><span class="text-muted" style="font-size: 12px; padding-left: 5px;">
                        23/01/2022</span></p>
                    <div class="embed">
                      <!-- TITLE -->
                      <h4 class="title">Premium Feature</h4>
                      <!-- DESCRIPTION -->
                      <p class="description">Kucluck provides a special feature for you that helps develop the Kucluck
                        bot
                        by donating.
                      </p>
                      <p class="description">For those of you who are interested in helping to develop this bot by
                        donating, we provide several special features. that is:<br>
                        > - <span class="text-info">24/7 Stay Voice Channel</span><br>
                        > - <span class="text-info">All Button Active</span><br>
                        > - <span class="text-info">Audio Filter</span><br>
                        > - <span class="text-info">Audio Equalizer</span><br>
                        > - <span class="text-info">Auto Play Songs</span><br>
                        > - <span class="text-info">Lyrics</span><br>
                        > - <span class="text-info">Save and Play Queue</span><br>
                      </p>
                      <!-- FOOTER -->
                      <p class="footer"><img src="<%= owner.displayAvatarURL()%>" alt="ownerimg" width="30px"> Write by:
                        <%= owner.tag%></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- PREMIUM -->
              <div class="col-md-12 pt-3 pb-3" id="faq#premium">
                <div class="row m-2">
                  <div class="col-md-1">
                    <a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                      target="popup" onclick="openInvite()"><img src="<%= bot.user.displayAvatarURL() %>" alt="Logo"
                        width="70px"></a>
                  </div>
                  <div class="col-md-11 pt-1">
                    <p><a
                        href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                        target="popup" onclick="openInvite()"
                        class="text-decoration-none text-white"><%= bot.user.username%></a> <span class="bg-primary"
                        style="padding: 0px 5px; border-radius: 5px; font-size: 12px;"><i class="fas fa-check"></i>
                        BOT</span><span class="text-muted" style="font-size: 12px; padding-left: 5px;">
                        23/01/2022</span></p>
                    <div class="embed">
                      <!-- TITLE -->
                      <h4 class="title">Where and How can I get Kucluck Premium</h4>
                      <!-- DESCRIPTION -->
                      <p class="description">For Kucluck Pro, you can have it by paying IDR 25k/month or $3/month. And
                        you
                        and all members on your Discord Server can use all Kucluck Pro features for 1 month.
                      </p>
                      <p class="description">You can check <a href="/premium" target="_blank">here</a> For get more
                        information about Kucluck Pro.
                      </p>
                      <!-- FOOTER -->
                      <p class="footer"><img src="<%= owner.displayAvatarURL()%>" alt="ownerimg" width="30px"> Write by:
                        <%= owner.tag%></p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- PREMIUM PROBLEM -->
              <div class="col-md-12 pt-3 pb-3" id="faq#premiumproblem">
                <div class="row m-2">
                  <div class="col-md-1">
                    <a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                      target="popup" onclick="openInvite()"><img src="<%= bot.user.displayAvatarURL() %>" alt="Logo"
                        width="70px"></a>
                  </div>
                  <div class="col-md-11 pt-1">
                    <p><a
                        href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                        target="popup" onclick="openInvite()"
                        class="text-decoration-none text-white"><%= bot.user.username%></a> <span class="bg-primary"
                        style="padding: 0px 5px; border-radius: 5px; font-size: 12px;"><i class="fas fa-check"></i>
                        BOT</span><span class="text-muted" style="font-size: 12px; padding-left: 5px;">
                        23/01/2022</span></p>
                    <div class="embed">
                      <!-- TITLE -->
                      <h4 class="title">I've Bought Kucluck Pro But It's Not Working</h4>
                      <!-- DESCRIPTION -->
                      <p class="description">For this case, you can directly contact our Admin who is at <a
                          href="https://discord.gg/BuACxn4XUw" target="_blank" rel="unfollow"
                          style="text-decoration: none;">Discord Channel</a> us. Or you can directly send an email to <a
                          href="mailto:admin@kucluck.com" target="_blank" rel="unfollow"
                          style="text-decoration: none;">admin@kucluck.com</a>.
                      </p>
                      <!-- FOOTER -->
                      <p class="footer"><img src="<%= owner.displayAvatarURL()%>" alt="ownerimg" width="30px"> Write by:
                        <%= owner.tag%></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ABOUT -->
            <div id="about">
              <!-- KUCLUCK -->
              <div class="col-md-12 pt-3 pb-3" id="kucluck">
                <div class="row m-2">
                  <div class="col-md-1">
                    <a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                      target="popup" onclick="openInvite()"><img src="<%= bot.user.displayAvatarURL() %>" alt="Logo"
                        width="70px"></a>
                  </div>
                  <div class="col-md-11 pt-1">
                    <p><a
                        href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
                        target="popup" onclick="openInvite()"
                        class="text-decoration-none text-white"><%= bot.user.username%></a> <span class="bg-primary"
                        style="padding: 0px 5px; border-radius: 5px; font-size: 12px;"><i class="fas fa-check"></i>
                        BOT</span><span class="text-muted" style="font-size: 12px; padding-left: 5px;">
                        23/01/2022</span></p>
                    <div class="embed">
                      <!-- TITLE -->
                      <h4 class="title">About a Kucluck Bot</h4>
                      <!-- DESCRIPTION -->
                      <p class="description"><span class="text-info"><%= bot.user.username%></span> is a
                        Discord bot that was intentionally created to help
                        manage your Discord server, and also to entertain all members on your server with music or other
                        things. <br><span class="text-info"><%= bot.user.username%></span> has been in development since
                        November 2021.
                      </p>
                      <p class="description">Informations of <span class="text-info"><%= bot.user.username%></span>:
                        <br>Bot Name: <code><%= bot.user.tag%></code>
                        <br>Bot ID: <code><%= bot.user.id%></code>
                        <br>Runtime: <code><%= duration(bot.uptime).join(``)%></code>
                        <br>Active Commands: <code><%= bot.commands.size%></code>
                      </p>
                      <ul class="description">
                        <li>General -- Stats
                          <ul class="description">
                            <li>Servers: <code><%= bot.guilds.cache.size%></code></li>
                            <li>Users: <code><%= bot.users.cache.size%></code></li>
                            <li>Commands Usage: <code><%= stats.Commands%></code></li>
                            <li>Songs Played: <code><%= stats.Songs%></code></li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="description">
                        <li>Version -- Stats
                          <ul class="description">
                            <li>Node.js: <code><%= process.version%></code></li>
                            <li>Discord.js: <code><%= Discord.version%></code></li>
                            <li>Bot: <code><%= version%></code></li>
                          </ul>
                        </li>
                      </ul>
                      <ul class="description">
                        <li>Developer
                          <ul class="description">
                            <li>Name: <code><%= owner.tag%></code></li>
                            <li>ID: <code><%= owner.id%></code></li>
                          </ul>
                        </li>
                      </ul>
                      <figure class="text-center">
                        <blockquote class="blockquote">
                          <p>Kucluck Bot 2022</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                          <i class="far fa-copyright"></i> Copyright 2022 <cite title="Source Title">All rights
                            reserved</cite>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('./element/footer'); -%>
</body>
<script>
  function s() {
  }
  var el = document.getElementById('show-prefix');
  el.onclick = showPrefix

  function showPrefix() {
    var op = document.getElementById(`btn-prefix`).click();
  }

  var el = document.getElementById('show-music-setup');
  el.onclick = showMs

  function showMs() {
    var op = document.getElementById(`btn-music-setup`).click();
  }

  var el = document.getElementById('show-djrole');
  el.onclick = shwoDJ

  function shwoDJ() {
    var op = document.getElementById(`btn-djrole`).click();
  }

  var el = document.getElementById('show-BCC');
  el.onclick = showBCC

  function showBCC() {
    var op = document.getElementById(`btn-BCC`).click();
  }

  var el = document.getElementById('show-autorole');
  el.onclick = showautorole

  function showautorole() {
    var op = document.getElementById(`btn-autorole`).click();
  }

  var el = document.getElementById('show-pruning');
  el.onclick = showpruning

  function showpruning() {
    var op = document.getElementById(`btn-pruning`).click();
  }

  var el = document.getElementById('show-reaction-role');
  el.onclick = showreaction

  function showreaction() {
    var op = document.getElementById(`btn-reaction-role`).click();
  }

  var el = document.getElementById('show-greeting-message');
  el.onclick = showgreeting

  function showgreeting() {
    var op = document.getElementById(`btn-greeting-message`).click();
  }
</script>

</html>